.git
.gitignore
.gitattributes
.github

vendor
node_modules

.env
.env.*
!.env.example

storage/app/public/*
!storage/app/public/.gitignore
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/logs/*
storage/*.key

bootstrap/cache/*.php

tests
.phpunit.cache
phpunit.xml

.idea
.vscode
.editorconfig
.oxlintrc.json
.npmrc

README.md
Dockerfile
docker-compose.yml
.dockerignore
serve.ps1
serve.sh
